.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
body
{
  background-color: #A85CF9;
}
.main-heading {
  color: #fff;
}
.home-p{
  color: #fff;
  font-size: 20px;
}
.bg-c-dark{
  background:#7550ba;
}
.border-shadow{
  
  box-shadow: 0 8px 6px -6px black;
}
.footer a{
  color:white;
  text-decoration:none !important;
  cursor:pointer;
}
.footer a:hover{
  color:grey;
}
.branch-disc{
  font-size: 20px;
  text-align:justify;
}
.arrowR{
  color:blue;
}
.list-not{
  list-style-type:none;
}

.btn-etc {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.btn-etc{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-etc:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.btn-etc:hover{
  padding-right: 24px;
  padding-left:8px;
}

.btn-etc:hover:after {
  opacity: 1;
  right: 10px;
}

a{
  text-decoration: none;
}
a:hover
{
  color: #fff;
}