.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
body
{
  background-color: #A85CF9;
}
.main-heading {
  color: #fff;
}
.home-p{
  color: #fff;
}
.bg-c-dark{
  background:#7550ba;
}
.border-shadow{
  
  box-shadow: 0 8px 6px -6px black;
}
.footer a{
  color:white;
  text-decoration:none !important;
  cursor:pointer;
}
.footer a:hover{
  color:grey;
}